* {
	margin: 0;
	padding: 0;
	
}

#blue,#green {
  display: inline-block;
  animation: scale1; 
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes scale1 {
	0%		{transform: scale(1.0); }
	10% 	{transform: scale(5.0); }
	20%		{transform: scale(10); }
	40% 	{transform: scale(15.0);}
	60% 	{transform: scale(15.0);}
	80%		{transform: scale(10); }
	90% 	{transform: scale(5.0); }
	100%	{transform: scale(1.0); }
}

